body {
  color: #006400;
  padding-top: 70px;
  padding-left: 35px;
  background-color: #D7CDCC;
}

.vl {
  border-left: 6px solid #006400;
  height: 100%;
  float: left;
  position: fixed;
  top: 50px;
  left: 5px;
}


.next {
  border-left: 6px solid #B1CF5F;
  position: fixed;
  top: 50px; /* Position the navbar at the top of the page */
  left: 20px;
}

.third {
  border-left: 6px solid #DEF4C6;
  position: fixed;
  left: 35px;
}

.navbar > a:hover {
  color: black;
  background-color:#D7CDCC;
}

.navbar > a {
  color: #f2f2f2;
}

.welcome {
  text-align: center;
}

html {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 10px;
  }
  .image {
    height: 200px;
  }
  .email{
    font-size: 10px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 13px;
  }
  .image {
    height: 200px;
  }
  .email{
    font-size: 13px;
  }
  .storch {
    padding-top: 0px;
  }
}

@media screen and (min-width: 700px) {
  html {
    font-size: 20px;
  }
  .image {
    height: 500px;
  }
  .email{
    font-size: 20px;
  }
  .storch {
    height: 30px;
    width: 30px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
  .image {
    height: 500px;
  }
  .email{
    font-size: 20px;
  }
  .storch {
    height: 30px;
    width: 30px;
  }
}
